body {
    background-color: rgb(98, 0, 255);
    
    color:#ffffff;
    margin: 0;
}

    .container {
    width: 80%;
    margin: auto;
    }
    p { 
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    }


.box-1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 158, 242);
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    border: 5px rgb(0, 255, 238) solid;
    padding-top: 20 px;
    padding-bottom: 20 px;
    padding-right: 20 px;
    padding-left: 20 px;
    margin: 20px;
    margin: 20px 0;
    }
    .box-1 h1 {
        font-family:  Tahoma;
        font-weight: 800;
        font-style: italic;
        text-decoration: underline;
        text-transform: uppercase;
        Letter-spacing: 0.2em;
        }
        .box-1 h1 {
            font-family:  Tahoma;
            font-weight: 800;
            font-style: italic;
            text-decoration: underline;
            text-transform: uppercase;
            Letter-spacing: 0.2em;
            }
            .categories  {
                border: 1px #ccc solid
                padding 10px;
                border-radius: 15px; 
                    padding: 0;
                     
                }

a {
    text-decoration: none;
    color: #000; 
  }
  

  a:hover {
    color: red;
  }
  
 
  a:active {
    color: green;
  }
  
  a:visited {
    color: #000; 
  }
.my-form {
    padding: 20px;
  }
  
  .my-form .form-group {
    padding-bottom: 15px;
  }
  
  
  .my-form label {
    display: block;
  }
  
 
  .my-form input[type="text"], 
  .my-form textarea {
    padding: 8px;
  }
    
    .block {
    float: left;
    width: 33.3%; 
    border: 1px solid #333;
    padding: 10px;
    box-sizing: border-box; 
 }
  

  .clr {
    clear: both;
  }
  

  #main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box; 
  }
  
  
  #sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box; 
  }
 
.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative; 
  }
  
  .p-box h1 {
    position: absolute; 
    top: 100px; 
    left: 200px; 
  }
  
 
  .p-box h2 {
    position: absolute; 
    bottom: 40px; 
    right: 100px; 
  }
  
 
  .fix-me {
    position: fixed; 
    top: 400px; 
  }
  
  
  .p-box h2 {
    position: absolute;
    bottom: 40px;
    right: 100px;
    background-image: url('../bgimage.jpg');
    background-repeat: no-repeat;
    background-position: 100px 200px; 
    background-size: cover; 
  }
  
  
  .my-list li:first-child {
    background: red;
  }
  
  .my-list li:last-child {
    background: blue; 
  }
  
  .my-list li:nth-child(4) {
    background: yellow; 
  }
  
  .my-list li:nth-child(even) {
    background: gray; 
  }
  
  